:root {
	--background: rgba(250, 248, 245, 1);
	--backgroundO5: rgba(250, 248, 245, 0.8);
	--background09: rgba(250, 248, 245, 0.92);
	--background-search: rgba(250, 248, 245, 1);
	--text-base-color: rgba(75, 53, 8, 1);
	--text-selection-color: #E4D3C1;
	--title-text-color: rgba(99, 90, 71, 1);
	--search-text-color: rgba(99, 90, 71, 0.8);
	--link-text-color: rgba(11, 53, 135, 1);
	--accent-text-color: rgba(115, 144, 201, 1);
	--accent-text-color07: rgba(115, 144, 201, 0.7);
	--selected-text-background-color: rgba(184, 133, 80, 0.32);

	--hashtag-text-color: rgba(255, 255, 255, 1);
	--hashtag-marker-text-color: rgba(255, 255, 255, 1);
	--hashtag-background-color: rgba(174, 147, 101, 0.7);
	--marker-color: rgba(211, 255, 164, 1);

	--separator-color: rgba(233, 225, 211, 1);
	--note-table-cell-selected-color: rgba(244, 235, 221, 1);
	--note-table-cell-ribbon-color: rgba(175, 148, 101, 1);
	--note-table-cell-ribbon-color-unfocus: #807468;
	--note-count-color: #D1C3AA;

	/* --heading-indicator: #B4B4B4; */
	--dark-background-color: #241305;
	/* Body color*/
	--fox-first-color: rgba(233, 225, 211, 1);
	/* Ears & legs (in) color*/
	--fox-second-color: rgba(212, 202, 185, 1);
	/* Face & queue color*/
	--fox-third-color: rgba(221, 208, 187, 1);
	/* Eye, nose, and paws color */
	--fox-fourth-color: rgba(193, 182, 163, 1);
	--fox-shadow-color: color(srgb 0.141 0.075 0.02 / 0.08);
	--fox-size-factor: 0.08;
	--search-field-focused-color: #80abd9;

	--body-font: 'Courier', monospace;
	--header-font: 'Courier', monospace;

	--search-background: #e2e2e2;

	--menu-width: 230px;
	--nav-width: 320px;
	--navbar-height: 50px;
	--menu-item-text-color: var(--note-table-cell-selected-color);
	--menu-item-icon-color: var(--hashtag-background-color);
	--menu-item-height: 42px;
	--menu-item-selected-color: #4F412C;
	--code-background: rgba(233, 225, 211, 0.7);
	--color-hashtag-color: rgba(99, 90, 71, 0.5);
	--checkbox-color: #976e26;
	
	/// From bear conventions (plist)
	--base-backround-color: red;
	--input-background-color: rgba(233, 225, 211, 0.3);
	--encrypted-note-color: #DDDBD8;
		--private-note-color: #d9cbb3;
	--search-highlighted-text-color: #DFD1B9;
	
	--default-fonts: 'AvenirNext-Regular', 'Avenir', 'Montserrat', 'Courier';
	--heading-fonts: 'AvenirNext-Medium', 'Avenir-Medium', 'Montserrat', 'Courier';
	--bold-fonts: 'AvenirNext-Bold', 'Avenir-Bold', 'Montserrat-Bold', 'Courier';
	--italic-fonts:'AvenirNext-Italic', 'Avenir-Italic', 'Montserrat', 'Courier';
	--code-font: 'Menlo-Regular';
	--color-code-font: 'Menlo-Regular', 'AvenirNext-Regular', 'Avenir', 'Montserrat', 'Courier';
	--li-bullet-font: 'AvenirNext', 'Avenir', 'Arial Black'
}
